<% favorites.each do |favorite| %>
  <tr>
    <td class="border p-2"><%= favorite.restaurant.name %></td>
    <td class="border p-2 text-center">
      <div class="flex justify-center">
        <%= button_to "", favorite_path(favorite), method: :delete, class: "fa fa-star fa-lg checked ml-2" %>
      </div>
    </td>
    <td class="border p-2 text-center">
      <div class="flex justify-center">
        <%= link_to "View restaurant", restaurant_path(favorite.restaurant.id) , class: "format-button" %>
      </div>
    </td>
  </tr>
<% end %>
