<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Restaurants</h1>
  </div>

  <div class="flex justify-between items-center mt-5">
    <%= render partial: 'search_form', locals: { restaurants: @restaurants } %>
    <%= link_to "New restaurant", new_restaurant_path, class: "format-button" %>
  </div>

  <table class="w-full border-collapse border mt-5 mb-10">
    <thead>
      <tr>
        <th class="border p-2">Name</th>
        <th class="border p-2">Location</th>
        <th class="border p-2">Will Split:<br>Won't Split</th>
        <th class="border p-2">Vote</th>
        <th class="border p-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'restaurant_table', locals: { restaurants: @restaurants } %>
    </tbody>
  </table>
</div>
