<div class="mx-auto md:w-2/3 w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h2 class="font-bold text-4xl">Viewing Restaurant</h2>

    <%= render "form", restaurant: @restaurant, readonly: true %>

    <% if user_signed_in? %>
      <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant), class: "format-button" %>
    <% end %>
    <%= link_to "Back to restaurants", restaurants_path, class: "format-button" %>
  </div>
</div>
