<div class="mx-auto md:w-2/3 w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h2 class="font-bold text-4xl">Viewing Profile</h2>
    <br>
    <h4 class="font-bold text-2xl">Email: <%= @user.email %></h4>
    <br>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Votes</h1>
    </div>

    <table class="w-full border-collapse border mt-5 mb-10">
      <thead>
        <tr>
          <th class="border p-2">Restaurant</th>
          <th class="border p-2">Location</th>
          <th class="border p-2">Vote</th>
          <th class="border p-2">Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'votes/vote_table', locals: { votes: @votes, profile: true } %>
      </tbody>
    </table>

  </div>

  <br>
  <div class="mx-auto">

    <h2 class="font-bold text-4xl">Comments</h2>

    <table class="w-full border-collapse border mt-5 mb-10">
      <thead>
        <tr>
          <th class="border p-2">Restaurant</th>
          <th class="border p-2">Comment</th>
          <th class="border p-2">Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'comments/comment_table', locals: { comments: @user.comments, profile: true } %>
      </tbody>
    </table>

  </div>

</div>
